html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
}

.game-conteiner {
    width: 50rem;
    height: 73rem;
    position: absolute;
    overflow: hidden;
}

.git {
    position: absolute;
    top: 73rem;
    width: 50rem;
    height: 10.6rem;
    background-color: #95ff00a3;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 4rem;
}

.sky {
    background-image: url(./assets/img/fb-game-background.png);
    width: 50rem;
    height: 58rem;
    position: absolute;
}

.ground {
    background-image: url(./assets/img/bottom-background.png);
    width: 50rem;
    height: 15rem;
    position: absolute;
    top: 58rem;
    z-index: 4;
}

.bird {
    background-image: url(./assets/img/flappy-bird.png);
    position: absolute;
    width: 6rem;
    height: 4.5rem;
    z-index: 8;
    /* transition: 3s; */
}

.jump {
    background-image: url(./assets/img/flappy-bird2.png);
    transform: rotate(-25deg);
    width: 6rem;
    height: 4.5rem;
}

.obstacle {
    background-image: url(./assets/img/flappybird-pipe.png);
    width: 6rem;
    height: 30rem;
    position: absolute;
}

.top-obstacle {
    background-image: url(./assets/img/flappybird-pipe.png);
    width: 6rem;
    height: 30rem;
    position: absolute;
    transform: rotate(180deg);
}

.text {
    font-size: 5rem;
    margin-top: 4rem;
    margin-left: 5rem;
    color: white;
}

.gap-bird {
    background-image: url(./assets/img/flappy-bird3.png);
    position: absolute;
    width: 6rem;
    height: 4.5rem;
    z-index: 8;
    transform: rotate(180deg);
    transition: 3s;
    bottom: 1rem;
}

.pop-up {
    font-weight: bold;
    width: 50rem;
    height: 73rem;
    position: absolute;
    background: rgba(74, 73, 69, 0.286);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    flex-direction: column;
    gap: 2rem;
    transition: all 2s;
}

.score {
    width: 30rem;
    height: auto;
    padding: 1rem;
    background-color: #ffdc60;
    border-radius: 2rem;
}

.best {
    color: #95ff00a3;
    display: flex;
    gap: 1rem;
}

.result {
    color: black;
}

.star {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 3rem;
}

.img {
    width: 3rem;
    height: 3rem;
}

.button {
    width: 9rem;
    height: 5rem;
    background-color: #95ff00a3;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    border-radius: 2rem;
    border: 0.3rem gray solid;
    font-size: 2rem;
    font-weight: 900;
    transition: 0.3s;
}

.button:hover {
    background-color: #95ff00f2;
    transform: scale(1.1);
    transition: 0.3s;
}

.hidden {
    position: absolute;
    top: -73rem;
    transition: all 2s;
}

.kit {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.rss {
    display: block;
    width: 11rem;
    height: 4rem;
    background-image: url("./assets/img/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    opacity: 0.7;
}

@media (max-width: 500px) {
    html {
        font-size: 9px;
    }

    .bird {
        background-image: url(./assets/img/flappy-bird.png);
        position: absolute;
        width: 6.5rem;
        height: 5rem;
        z-index: 8;
        /* transition: 3s; */
    }

    .gap-bird {
        background-image: url(./assets/img/flappy-bird3.png);
        position: absolute;
        width: 6.5rem;
        height: 5rem;
        z-index: 8;
        transform: rotate(180deg);
        transition: 3s;
        bottom: 1rem;
    }

    .jump {
        background-image: url(./assets/img/flappy-bird2.png);
        transform: rotate(-25deg);
        width: 6.5rem;
        height: 5rem;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 8px;
    }

    .bird {
        background-image: url(./assets/img/flappy-bird.png);
        position: absolute;
        width: 7.18rem;
        height: 5.7rem;
        z-index: 8;
        /* transition: 3s; */
    }

    .gap-bird {
        background-image: url(./assets/img/flappy-bird3.png);
        position: absolute;
        width: 7.18rem;
        height: 5.7rem;
        z-index: 8;
        transform: rotate(180deg);
        transition: 3s;
        bottom: 1rem;
    }

    .jump {
        background-image: url(./assets/img/flappy-bird2.png);
        transform: rotate(-25deg);
        width: 7.18rem;
        height: 5.7rem;
    }

    .button {
        font-size: 3.5rem;
        width: 15rem;
        height: 8rem;
    }

    .obstacle {
        width: 7.45rem;
    }

    .top-obstacle {
        width: 7.45rem;
    }

}