html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.game-conteiner {
    width: 50rem;
    height: 73rem;
    position: absolute;
}

.sky {
    background-image: url(./assets/img/fb-game-background.png);
    width: 50rem;
    height: 58rem;
    position: absolute;
}

.ground {
    background-image: url(./assets/img/bottom-background.png);
    width: 50rem;
    height: 15rem;
    position: absolute;
    top: 58rem;
    z-index: 4;
}

.bird {
    background-image: url(./assets/img/flappy-bird.png);
    position: absolute;
    width: 6rem;
    height: 4.5rem;
    z-index: 8;
    /* transition: 3s; */
}

.obstacle {
    background-image: url(./assets/img/flappybird-pipe.png);
    width: 6rem;
    height: 30rem;
    position: absolute;
}

.top-obstacle {
    background-image: url(./assets/img/flappybird-pipe.png);
    width: 6rem;
    height: 30rem;
    position: absolute;
    transform: rotate(180deg);
}

.text {
    font-size: 5rem;
    margin-top: 4rem;
    margin-left: 5rem;
    color: white;
}

.gap-bird {
    background-image: url(./assets/img/flappy-bird.png);
    position: absolute;
    width: 6rem;
    height: 4.5rem;
    z-index: 8;
    transform: rotate(180deg);
    transition: 3s;
    bottom: 1rem;
}